#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: var(--ice);
  
    position: fixed;
    z-index: 1032;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 5px;
  }
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--ice), 0 0 5px var(--ice);
    opacity: 1;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1031;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  
  #nprogress .spinner-icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50% ;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: nprogress-spinner 1s  linear 0s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nprogress .spinner-icon:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: var(--ice);
    border-bottom: 4px solid;
    top: 0px
  }

  #nprogress .spinner-icon:before {
    content: '';
    background-color: #fff;
    width: 20px;
    height:20px;
    border: 4px solid;
    border-radius: 50%;
    z-index: 1;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes nprogress-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }